{% extends 'base.html' %}

{% block head %}
<title>BBDD</title>
{% endblock %}

{% block body %}
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Apodo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in coms %}
            <tr>
                <td>{{c.id}}</td>
                <td>{{c.titulo}}</td>
                <td><a href="/contenido/3/comentarios/{{c.id}}">{{c.descripcion}}</a></td>
                <td>{{c.apodo}}</td>
                <td><a href="/contenido/3/comentarios/{{c.id}}/replicas">VER REPLICAS</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}