<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Ingrese su nuevo comentario para el contenido nro: {{id_contenido}} </h1>
    <form action="" method="POST">
        <label for="apodo">Apodo:</label>
        <input id="apodo" type="text" name="apodo">
        <label for="titulo">Titulo:</label>
        <input id="titulo" type="text" name="titulo">
        <label for="detalle">Detalle:</label>
        <input id="detalle" type="text" name="detalle">
        <input type="submit" value="Save">
    </form>

</body>
</html>