<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Apodo</th>
                </tr>
            </thead>
            <tbody>
                {% for c in replicas %}
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.descripcion}}</td>
                    <td>{{c.apodo}}</td>
                    <td><a href="/{{id_contenido}}/obtenerComentario/{{c.id_comentario}}/replicas/{{c.id}}">VeR RePLICaS</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>