*{
    font-size: 30px;
}

.div-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header{
    width: 770px!important;
}

.whited{
    color:white!important
}

a{
    text-decoration:none!important; 
    color: black!important;
}

.text-center{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    font-family: 'Merienda One', cursive;
}

td{
    vertical-align: middle;
}

.header-font{
    font-size: 65px;
}

em{
    font-size: 1.3em
}

.div-btn{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

label{
    margin-top: 2rem;
}

input{
    width:653px;
    height: 35px;
}

